<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Doctor's App</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-controller="MainCtrl as main">
	<div class="container">
	<br/>
	
	<h3>
		{{ main.message }}
	</h3>

	<br>

	<h3>
		{{ main.appointment }}
	</h3>

	<h4>Using ng-repeat</h4>
	<table class="table">
		<tr ng-repeat="appt in main.appointments">
			<td>{{ appt.doc }}</td>
			<td>{{ appt.patient }}</td>
		</tr>
	</table>

	<h4>Using ng-model</h4>
	<input type="text" placeholder="First Name" ng-model="main.firstname">
	<input type="text" placeholder="Last Name" ng-model="main.lastname">

	<br/>

	<h4>Preview Below:</h4>
	<tt>
		First Name: {{ main.firstname }}<br/>
		Last Name: {{ main.lastname }}<br/>
	</tt>

	<br>

	<h4>Using controller functions with ng-click to increment and decrement a counter</h4>
	<br>
	<div>
		<button class = "btn btn-danger" ng-click = "main.increment()">Increment</button>
		<button  class = "btn btn-warning" ng-click = "main.decrement()">Decrement</button>
		<span>
			<tt>
				The count is: {{ main.count }}
			</tt>
		</span>
	</div>
		



	</div>

	
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>